<div class="container">

  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="../../../../assets/image/logo.PNG" alt=""></a>
      <button class="navbar-toggler mnue-icon" type="button" data-bs-toggle="collapse" data-bs-target="#btn">
        <i class='bx bx-menu bx-md'></i>
        <!--      <span class="navbar-toggler-icon"></span> -->
      </button>
      <div class="collapse navbar-collapse" id="btn">
        <ul class="menu-bar">
          <!--      Home -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">Watch Now</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">Movies</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">TV Shows</a>
          </li>

          <li class="nav-item" *ngIf="!_auth.isLoggedIn">
            <a class="nav-link" routerLink="/register" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">register</a>
          </li>
          <li class="nav-item" *ngIf="!_auth.isLoggedIn">
            <a class="nav-link" routerLink="/login" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">login</a>
          </li>

          <li class="nav-item" *ngIf="_auth.isLoggedIn">
            <a class="nav-link" (click)="logout()">logout</a>
          </li>



          <input id='search-btn' type='checkbox' />
          <label for='search-btn'>Show search bar</label>
          <input id='search-bar' type='text' placeholder='Search...' />
        </ul>
        <!--    <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>


  <!--
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
  </nav> -->

</div>
